/*$off-white-color:#ff3ee;
$tide-orange-color: #f24c12;
$tide-yellow-color: #fff500;
$tide-blue: #223791;
$cream-neutral-color: #fff8ed;*/
/* rgba(255, 248, 237, 0.8); */











.pg-family-links, 
.navbar-search-wrapper {
	float: left;
	width: 100%;
}

.top-bar {
	display: flex;
	flex-direction: column;
	width: 100%;

}

.pg-family-links {
	display: flex;
	flex-direction: column;
}

.pg-family-logos-wrapper {
	display: flex;
	flex-direction: row;
	height: 25px;
}

.pg-family-copy, .bottom-bar-copy {
	width: 100%;
	
	padding: 4px 0 4px 0;
	margin-bottom: -1px;
}

.logo {
	width: 21.71%;	
}

.logo figure {
	height: 100%;	
	background-repeat: no-repeat;
	background-position: top center;
	background-size: auto 100%;
}

.pg figure {
	background-image: url("../img/pg-logo.png");
}

.downy figure {
	background-image: url("../img/downy-logo.png");
}

.bounce figure {
	background-image: url("../img/bounce-logo.png");	
}

.pg-everyday figure {
	background-position: top right;
	background-image: url("../img/pg-everyday-logo.png");
}

/* NAVBAR FAMILY SECTION ENDS */

.navbar-logo-wrapper {
	width: 95%;
	margin-left: 2.5%;
	display: flex;
	flex-direction: column;
}

.tide-logo {
	background-color: none;
	background-image: url("../img/tide-logo.png");
	width: 100%;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center;
	
}

.navbar-search-wrapper {
	display: flex;
	flex-direction: column;
}

.language-dropdown-menu,
.search,
.nav-link-single {
	background-color: #fff8ed;
	font-size: 1em;
	color: #223791;
	font-weight: 500;
	
	text-align: center;
	margin-top: 3px;
	padding: 6px 0 8px 0;
}

.down-caret {
	display: none;
}

.vertical-bar {
	display: none;
}

.bottom-bar {
	
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.bottom-bar p {
	color: #fee;
	padding-top: 5px;
	font-size: 8px;
}

.terms {
	padding-left: 5px;
	text-decoration: underline;
}

.copyright {
	padding-right: 5px;
}

@media screen and ( min-width: 500px ) {
	.navbar-logo-wrapper {
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 8px 2.5% 0 2.5%;
	}

	.tide-logo {
		width: 15%;
		background-position: left;
		height: 100px;
		background-size: contain;
		z-index: 5;
	}
	/*456*/
	/*367*/
	.navigation-items-wrapper {
		position: absolute;
		margin-top: 30px;
		margin-left: 5%;
		width: 85%;
		height: 40px;
		border: none;
		background: #fff8ed;
		border-radius: 0 20px 20px 0;
	}
	
	.nav-links {
		margin-top: 20px;
		padding-right: 5%;
		transform: translateY(-50%);
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-content: center;
	}
	
	.nav-link-single, 
	.vertical-bar {
		background: none;
		border: none;
	}

	.nav-link-single {
		font-size: 0.75em;
		font-weight: 300;
	}

	.vertical-bar {
		display: inherit;
		transform: translateY(25%);
		margin-left: 3%;
		margin-right: 3%;
		color: #f24c12;
		font-weight: 100;
		font-size: 0.9em;
	}

	.before-search {
		display: none;
	}
	
	.language-dropdown-menu, .search {
		position: absolute;
		top: 45px;
		height: 15px;
		border-radius: 20px;
		background: #fff8ed;
		padding: 2.5px 10px 2px 10px;
	}

	.language-dropdown-menu {
		left: 10%;
		margin-bottom: 3.5px;
		font-size: 0.5em;
		width: 110px;
		border: none;
		border-radius: 20px;
		height: 15px;
		text-align: left;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
	
	.down-caret {
		display: initial;
		margin-left: 5%;
	}

	.search {
		right: 5%;
		height: 15px;
		border: none;
		border-radius: 20px;		
		width: 80px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.search p {
		text-align: left;
		font-size: 0.5em;
	}

	

	.main-content {
		display: initial;
		float: left;
		left: auto;
		width: 95%;
		border-top: solid 3px #223791;
		margin: 2px 0 0 2.5%;
	}

	.hero {
		float: left;
		width: 90%;
		margin: 5px 0 0 5%;
		height: 290px;
	}

	.hero figure {
		width: 100%;
		height: 250px;
		background-image: url("../img/tide-tru.png");
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center;
	}

	.carousel-navigation {
		position: relative;
		float: left;
		width: 100%;
		margin-top: 235px;
	}

	.carousel-left-container,
	.carousel-right-container,
	.carousel-icon-container {
		float: left;
		display: inline;
		height: 25px;
	}

	.carousel-left-container {
		width: 25%;
	}

	.carousel-right-container {
		width: 25%;
	}


	.carousel-left,
	.carousel-right {
		width: 0;
		height: 0;
		border-top: 12px solid transparent;
		border-bottom: 12px solid transparent;
	}

	.carousel-right {
		border-left: 20px solid #fff500;
	}

	.carousel-left {
		float: right;
		border-right: 20px solid #fff500;
	}

	.carousel-icon-container {
		width: 50%;
	}

	.carousel-icon {
		height: 20px;
		width: 20px;
		border-radius: 50%;
		background-color: #fff8ed;
	}

	.single-icon-container {
		float: left;
		width: 20%;
		display: inline;
		transform: translateY(3px);
	}

	.a,
	.b,
	.c,
	.d,
	.e {
		float: left;
		margin-left: 50%;
		transform: translate(-50%);
	}

	.content-box {
		float: left;
		height: 150px;
		background: white;
		border-radius: 20px;
		margin-left: 2.5%;
	}
	
	.content-box p {
		position: relative;
		left: auto;
		width: 100%;
		text-align: center;
		margin-top: 110px;
	}

	.double {
		width: 61.667%;
	}

	.single {
		width: 30.833%;
	}

	.h, .i, .j, .k {
		margin-top: 2.5%;
	}
}

@media screen and ( min-width: 530px) {
	.nav-links {
		padding-right: 7%;
	}
}

@media screen and ( min-width: 550px) {

	.nav-links {
		padding-right: 5.5%;
	}
}

@media screen and ( min-width: 600px ) {
	.vertical-bar {
		margin-left: 4%;
		margin-right: 4%;
	}

	.nav-links {
		padding-right: 6%;
	}
}

@media screen and ( min-width: 620px ) {

	.vertical-bar {
		margin-left: 4%;
		margin-right: 4%;
	}

	.nav-links {
		padding-right: 7%;
	}
}

@media screen and ( min-width: 630px ) {
	
	.before-search {
		display: inherit;
		margin-left: 0;
		margin-right: 6%;
	}


	.carousel-navigation {
		margin-top: 250px;
	}

	.nav-links {
		justify-content: space-between;
		margin-top: 17px;
		margin-right: 0;
		width: 70%;
	}

	.nav-link-single, .search p {
		font-size: 0.7em;
		font-weight: 300;
	}

	.vertical-bar, .before-search {
		margin-left: 2.5%;
		margin-right: 2.5%;
		transform: translateY(3.5px);
		font-size: 1.25em;
	}

	.navigation-items-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

	.search {
		position: initial;
		margin-right: 6%;
		margin-left: -6%;
		margin-top: 15px;
		padding: 0;
		justify-content: flex-start;
	}
	
	.search figure {
		margin-left: 20px;
		background-repeat: no-repeat;
		height: 10px;
		width: 10px;
	}

	.language-dropdown-menu {
		left: 75%;
	}
}

@media screen and (min-width: 700px) {

	.nav-link-single, 
	.search p {
		font-size: 0.8em;
	}

	.vertical-bar {
		margin-left: 2.75%;
		margin-right: 2.75%;
	}

	.search {
		margin-right: 7%;
	}
	
	/*.nav-link-single,
	.search p {
		font-size: 0.7em;
	}
	
	.vertical-bar {
		font-size: 1em;
	}

	.navbar-search-wrapper {
		margin-top: 45px;
		height: 50px;
	}

	.main-content {
		margin-top: 10px;
	}

	.hero {
		height: 320px;
		width: 80%;
		margin-left: 10%;
	}

	.hero figure {
		height: 300px;
	}

	.carousel-navigation {
		margin-top: 280px;
	}*/

}

@media screen and ( min-width: 750px ) {
	.vertical-bar {
		margin-left: 3.25%;
		margin-right: 3.25%;
	}

	.search figure {
		height: 12.5px;
		width: 12.5px;
		transform: translateY(-1px);
	}
}

@media screen and (min-width: 800px) {

	.language-dropdown-menu {
		position: initial;
	}
	
	.language-dropdown-menu p {
		font-size: 0.8em;
	}

	.search {
		margin-right: 0;
	}
	
	.nav-links {
		width: 0%;
	}

	.vertical-bar {
		margin-left: 1%;
		margin-right: 1%;
	}
	/*.main-content {
		margin-top: 10px;
	}

	.hero {
		height: 340px;
	}
	
	.carousel-navigation {
		margin-top: 300px;
	}*/
}

@media screen and ( min-width: 930px ) {
	
	.pg-family-links {
		height: 50px;
	}

	.pg-family-copy {
		width: 30%;
		height: 100%;
		padding: 0;
	}
	
	.pg-family-links, 
	.pg-family-copy {
		margin-bottom: 10px;
	}

	.pg-family-copy p {
		margin-top: 15px;
		font-size: 15px;
		text-align: right;
	}

	.pg-family-logos-wrapper {
		width: 70%;
		height: 50px;
	}

	.tide-logo {
		height: 120px;
	}
	
	.home {
		margin-left: 5%;
	}

	.navbar-search-wrapper {
		height: 50px;
		margin-bottom: 15px;
	}
	
	.language-dropdown-menu {	
		margin: none;
		width: initial;
		border: none;
		text-align: center;
		height: initial;
	}

	.down-caret {
		display: none
	}

	.hero {
		margin-top: 20px;
		height: 350px;
	}

	.carousel-navigation {
		margin-top: 310px;
	}

	.content-box {
		height: 200px;
		margin-left: 2%;
	}
	
	.content-box p {
		margin-top: 165px;
	}

	.double {
		width: 47%;
	}

	.single {
		width: 23.5%;
	}

	.f, .g, .h {
		margin-bottom: 0;
		margin-top: 0;
	}

	.i, .j, .k {
		float: right;
		margin-top: 2%;
	}

	.j {
		width: 23.5%;
	}

}

@media screen and ( min-width: 1200px ) {

	.tide-logo {
		height: 150px;
		margin-top: 10px;
	}

	.navbar-search-wrapper {
		margin-top: 35px;
	}
}




